In [12]:
mydataset = "college_data_xx"

In [13]:
!bq --location=US mk --dataset {mydataset}

Dataset 'sashimi-266523:college_data_xx' successfully created.

In [14]:
!bq --location=US load --autodetect --skip_leading_rows=1 \
--source_format=CSV {mydataset}.Classes \
'gs://example_college_dataset/Classes.csv'

Waiting on bqjob_r4256edd615daf95d_000001700dc8a602_1 ... (2s) Current status: DONE

In [15]:
!bq --location=US load --autodetect --skip_leading_rows=1 \
--source_format=CSV {mydataset}.Current_Students \
'gs://example_college_dataset/Current_Students.csv'

Waiting on bqjob_r29f1d5f21028a445_000001700dc901df_1 ... (2s) Current status: DONE

In [16]:
!bq --location=US load --autodetect --skip_leading_rows=1 \
--source_format=CSV {mydataset}.New_Students \
'gs://example_college_dataset/New_Students.csv'

Waiting on bqjob_r6aa70e8660d4dc4a_000001700dc92e30_1 ... (2s) Current status: DONE

Read sample records from tables

In [19]:
%%bigquery
select count(*) from college_data_xx.Classes

   f0_
0   13

In [21]:
%%bigquery
select count(*) as count from college_data_xx.Current_Students

   count
0     13

In [26]:
%%bigquery
select count(*) from college_data_xx.Current_Students where cno='CS327E' or cno='CS329E'

   f0_
0    6