# Cross Dataset Analysis

In [9]:
dataset_id = "reporting"

In [10]:
!bq --location=US mk --dataset {dataset_id}

Dataset 'sashimi-266523:reporting' successfully created.

## Number of public resource establishments vs income

In [7]:
%%bigquery
select ZIPCODE, Average as average_income, count(ZIPCODE) as num_of_public_resources
from `acs_2018_modeled.Income_Beam_DF` i 
left join `uds_mapper_modeled.ZIP_To_ZCTA5_Beam_DF` m using(ZCTA5)
left join `iml_2018_modeled.Public_Resources_Beam_DF` p using(ZIPCODE)
group by ZIPCODE, Average
order by num_of_public_resources desc

     ZIPCODE  average_income  num_of_public_resources
0      74743         18.8560                       10
1      95616         32.9756                        9
2      85287         20.2002                        9
3      48202         16.8258                        8
4      31401         21.6684                        8
...      ...             ...                      ...
6243   81125         21.9658                        1
6244   65793         21.1976                        1
6245   70514         24.2302                        1
6246   30083         20.6782                        1
6247   30086         20.6782                        1

[6248 rows x 3 columns]

In [11]:
# create view

In [13]:
%%bigquery
create or replace view reporting.v_Public_Resources_with_Income as
select ZIPCODE, Average as average_income, count(ZIPCODE) as num_of_public_resources
from `sashimi-266523.acs_2018_modeled.Income_Beam_DF` i 
left join `sashimi-266523.uds_mapper_modeled.ZIP_To_ZCTA5_Beam_DF` m using(ZCTA5)
left join `sashimi-266523.iml_2018_modeled.Public_Resources_Beam_DF` p using(ZIPCODE)
group by ZIPCODE, Average
order by num_of_public_resources desc

Empty DataFrame
Columns: []
Index: []