# ACS 2018 ERD Queries

In [13]:
%%bigquery
select count(distinct NAME) as Distinct_Name, count(*) as Total_Entries from `acs_2018_staging.economics`

   Distinct_Name  Total_Entries
0          33120          33120

In [14]:
%%bigquery
select count(distinct NAME) as Distinct_Name, count(*) as Total_Entries from `acs_2018_staging.housing`

   Distinct_Name  Total_Entries
0          33120          33120

In [15]:
%%bigquery
select count(distinct NAME) as Distinct_Name, count(*) as Total_Entries from `acs_2018_staging.school_enrollment`

   Distinct_Name  Total_Entries
0          33120          33120

In [16]:
%%bigquery
select count(distinct NAME) as Distinct_Name, count(*) as Total_Entries from `acs_2018_staging.work`

   Distinct_Name  Total_Entries
0          33120          33120