# IML 2018 Modeled

In [1]:
dataset_id = "iml_2018_modeled"

In [2]:
!bq --location=US mk --dataset {dataset_id}

Dataset 'sashimi-266523:iml_2018_modeled' successfully created.

## Tables from Original Public Resources Table

In [11]:
%%bigquery
create table iml_2018_modeled.public_resources as
select MID, DISCIPL, COMMONNAME, LEGALNAME, ADSTREET, ADCITY, ADSTATE, 
cast(ADZIP5 as STRING) as ZIPCODE, 
PHONE, WEBURL, 
cast(replace(INCOME15, ' ', '0') as FLOAT64) as INCOME, 
cast(replace(REVENUE15, ' ', '0') as FLOAT64) as REVENUE, 
LONGITUDE, LATITUDE
from `iml_2018_staging.public_resources`

Empty DataFrame
Columns: []
Index: []

In [66]:
%%bigquery
select count(*) from `iml_2018_modeled.public_resources`

    f0_
0  7429

In [67]:
%%bigquery
select count(distinct MID) from `iml_2018_modeled.public_resources`

    f0_
0  7429

# Process Data with Beam

In [2]:
% run Public_Resources_Beam.py

/home/jupyter/.local/lib/python3.5/site-packages/apache_beam/io/gcp/bigquery.py:1421: BeamDeprecationWarning: options is deprecated since First stable release. References to <pipeline>.options will not be supported
  experiments = p.options.view_as(DebugOptions).experiments or []
INFO:apache_beam.runners.direct.direct_runner:Running pipeline with DirectRunner.
INFO:apache_beam.io.gcp.bigquery_tools:Using location 'US' from table <TableReference
 datasetId: 'iml_2018_modeled'
 projectId: 'sashimi-266523'
 tableId: 'public_resources'> referenced by query SELECT * FROM iml_2018_modeled.public_resources limit 50
WARNING:apache_beam.io.gcp.bigquery_tools:Dataset sashimi-266523:temp_dataset_da5e47c54e4a48b2863c9670773f5193 does not exist so we will create it as temporary with location=US
INFO:apache_beam.io.gcp.bigquery_tools:Created table sashimi-266523.iml_2018_modeled.Public_Resources_Beam with schema <TableSchema
 fields: [<TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'MID'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'DISCIPL'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'COMMONNAME'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'LEGALNAME'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'ADSTREET'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'ADCITY'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'ADSTATE'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'ZIPCODE'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'PHONE'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'WEBURL'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'INCOME'
 type: 'FLOAT'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'REVENUE'
 type: 'FLOAT'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'LONGITUDE'
 type: 'FLOAT'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'LATITUDE'
 type: 'FLOAT'>]>. Result: <Table
 creationTime: 1587579397653
 etag: '7AcCcwhBwszxlW2j+E8r0w=='
 id: 'sashimi-266523:iml_2018_modeled.Public_Resources_Beam'
 kind: 'bigquery#table'
 lastModifiedTime: 1587579397694
 location: 'US'
 numBytes: 0
 numLongTermBytes: 0
 numRows: 0
 schema: <TableSchema
 fields: [<TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'MID'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'DISCIPL'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'COMMONNAME'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'LEGALNAME'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'ADSTREET'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'ADCITY'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'ADSTATE'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'ZIPCODE'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'PHONE'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'WEBURL'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'INCOME'
 type: 'FLOAT'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'REVENUE'
 type: 'FLOAT'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'LONGITUDE'
 type: 'FLOAT'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'LATITUDE'
 type: 'FLOAT'>]>
 selfLink: 'https://www.googleapis.com/bigquery/v2/projects/sashimi-266523/datasets/iml_2018_modeled/tables/Public_Resources_Beam'
 tableReference: <TableReference
 datasetId: 'iml_2018_modeled'
 projectId: 'sashimi-266523'
 tableId: 'Public_Resources_Beam'>
 type: 'TABLE'>.
WARNING:apache_beam.io.gcp.bigquery_tools:Sleeping for 150 seconds before the write as BigQuery inserts can be routed to deleted table for 2 mins after the delete and create.
INFO:apache_beam.io.filebasedsink:Starting finalize_write threads with num_shards: 1 (skipped: 0), batches: 1, num_threads: 1
INFO:apache_beam.io.filebasedsink:Renamed 1 shards in 0.10 seconds.
INFO:apache_beam.io.filebasedsink:Starting finalize_write threads with num_shards: 1 (skipped: 0), batches: 1, num_threads: 1
INFO:apache_beam.io.filebasedsink:Renamed 1 shards in 0.10 seconds.