# Institute of Museum and Library Services (2018)

In [1]:
dataset_id = "iml_2018_staging"

In [2]:
!bq --location=US mk --dataset {dataset_id}

Dataset 'sashimi-266523:iml_2018_staging' successfully created.

In [13]:
!bq --location=US load --autodetect --allow_quoted_newlines --allow_jagged_rows --ignore_unknown_values \
--source_format=CSV {dataset_id}.public_resources 'gs://iml-2018/public_resources.csv'

Waiting on bqjob_r11d7caaec4975b97_0000017176770988_1 ... (2s) Current status: DONE

# Explore data

In [19]:
%%bigquery
select DISCIPL, COMMONNAME, ADSTATE, ADCITY, ADZIP5, INCOME15, REVENUE15 from iml_2018_staging.public_resources
where INCOME15 is not Null
limit 10

,DISCIPL,COMMONNAME,ADSTATE,ADCITY,ADZIP5,INCOME15,REVENUE15
0,BOT,JASMINE HILL GARDENS AND OUTDOOR MUSEUM,AL,WETUMPKA,36093,,
1,ART,JAN DEMPSEY ARTS CENTER,AL,AUBURN,36830,,
2,BOT,HUNTSVILLE BOTANICAL GARDEN,AL,HUNTSVILLE,35805,,
3,ART,FAYETTE ART MUSEUM,AL,FAYETTE,35555,,
4,ART,ALABAMA FOLK ART MUSEUM,AL,BIRMINGHAM,35203,,
5,ART,GADSDEN MUSEUM OF ART,AL,GADSDEN,35904,,
6,ZAW,ANIMAL HOUSE EXOTIC ANIMALS & OSTRICH FARM,AL,MOULTON,35650,,
7,BOT,MCDOWELL ENVIRONMENTAL CENTER,AL,NAUVOO,35578,,
8,HST,KODIAK MILITARY HISTORY MUSEUM,AK,KODIAK,99615,,
9,CMU,CHILDREN'S MUSEUM OF ALASKA,AK,ANCHORAGE,99511,,