# Institute of Museum and Library Services (2018)

In [1]:
dataset_id = "iml_2018_staging"

In [2]:
!bq --location=US mk --dataset {dataset_id}

Dataset 'sashimi-266523:iml_2018_staging' successfully created.

In [13]:
!bq --location=US load --autodetect --allow_quoted_newlines --allow_jagged_rows --ignore_unknown_values \
--source_format=CSV {dataset_id}.public_resources 'gs://iml-2018/public_resources.csv'

Waiting on bqjob_r11d7caaec4975b97_0000017176770988_1 ... (2s) Current status: DONE

# Explore data

In [24]:
%%bigquery
select DISCIPL, COMMONNAME, ADSTATE, ADCITY, ADZIP5, INCOME15, REVENUE15 from iml_2018_staging.public_resources
where safe_cast(INCOME15 as FLOAT64) > 0
limit 10

,DISCIPL,COMMONNAME,ADSTATE,ADCITY,ADZIP5,INCOME15,REVENUE15
0,ART,OSSORIO FOUNDATION,MA,AMHERST,1002,671708,
1,HST,AMHERST HISTORY MUSEUM AT THE STRONG HOUSE,MA,AMHERST,1002,43685,43685
2,ART,ERIC CARLE MUSEUM OF PICTURE BOOK ART,MA,AMHERST,1002,2789176,2337678
3,HST,SOUTH HADLEY HISTORICAL,MA,SOUTH HADLEY,1075,153135,153135
4,BOT,STANLEY PARK OF WESTFIELD,MA,WESTFIELD,1086,4247065,
5,CMU,AMELIA PARK CHILDREN'S MUSEUM,MA,WESTFIELD,1086,152204,152204
6,ZAW,FOREST PARK ZOOLOGICAL SOCIETY,MA,SPRINGFIELD,1138,842443,801253
7,ART,BERKSHIRE ART ASSOCIATION,MA,PITTSFIELD,1202,8476,8476
8,HST,BERKSHIRE SCENIC RAILWAY MUSEUM,MA,LENOX,1240,137445,134744
9,HST,BIDWELL HOUSE,MA,MONTEREY,1245,308305,113964

In [27]:
%%bigquery
select GSTREET, ADSTREET from iml_2018_staging.public_resources
limit 10

                GSTREET                 ADSTREET
0  3001 JASMINE HILL RD     3001 JASMINE HILL RD
1       222 E DRAKE AVE          222 E DRAKE AVE
2  3737 BOB WALLACE AVE     3737 BOB WALLACE AVE
3      203 TEMPLE AVE N  530 TEMPLE AVENUE NORTH
4        1731 1ST AVE N           1731 1ST AVE N
5   2829 W MEIGHAN BLVD      2829 W MEIGHAN BLVD
6  2056 COUNTY ROAD 161     2056 COUNTY ROAD 161
7         105 DELONG RD            105 DELONG RD
8      1417 MILL BAY RD         1417 MILL BAY RD
9         PO BOX 112772            PO BOX 112772