## UDS Mapper : Zipcode to ZCTA5

In [1]:
dataset_id = "uds_mapper_staging"

In [2]:
!bq --location=US mk --dataset {dataset_id}

Dataset 'sashimi-266523:uds_mapper_staging' successfully created.

In [13]:
!bq --location=US load --autodetect --null_marker="No ZCTA" --skip_leading_rows=1 --allow_quoted_newlines \
--source_format=CSV {dataset_id}.zip_to_zcta5 'gs://uds-mapper/zip_to_zcta_2019.csv'

Waiting on bqjob_r19df80af527ad81e_000001718631891b_1 ... (2s) Current status: DONE

## Explore

In [19]:
%%bigquery
select *
from uds_mapper_staging.zip_to_zcta5
where ZCTA is not null

,ZIP_CODE,PO_NAME,STATE,ZIP_TYPE,ZCTA,zip_join_type
0,601,Adjuntas,PR,Zip Code Area,601,Zip Matches ZCTA
1,602,Aguada,PR,Zip Code Area,602,Zip Matches ZCTA
2,603,Aguadilla,PR,Zip Code Area,603,Zip Matches ZCTA
3,606,Maricao,PR,Zip Code Area,606,Zip Matches ZCTA
4,610,Anasco,PR,Zip Code Area,610,Zip Matches ZCTA
...,...,...,...,...,...,...
41093,63464,ZCTA 63464,MO,"populated ZCTA, missing zip",63464,"populated ZCTA, missing zip"
41094,66019,Clearview City,KS,"populated ZCTA, missing zip",66019,"populated ZCTA, missing zip"
41095,83601,Atlanta,ID,"populated ZCTA, missing zip",83601,"populated ZCTA, missing zip"
41096,84144,ZCTA 84144,UT,"populated ZCTA, missing zip",84144,"populated ZCTA, missing zip"
41097,98205,ZCTA 98205,WA,"populated ZCTA, missing zip",98205,"populated ZCTA, missing zip"