## UDS Mapper Modeled

In [1]:
dataset_id = "uds_mapper_modeled"

In [2]:
!bq --location=US mk --dataset {dataset_id}

Dataset 'sashimi-266523:uds_mapper_modeled' successfully created.

### Create zip_to_zcta5 table

In [24]:
%%bigquery
create or replace table uds_mapper_modeled.zip_to_zcta5 as
select ZIP_CODE as ZIPCODE, STATE, cast(ZCTA as STRING) as ZCTA5
from uds_mapper_staging.zip_to_zcta5
where ZCTA is not NULL
order by ZIPCODE

Empty DataFrame
Columns: []
Index: []

##### Check table

In [25]:
%%bigquery
select *
from uds_mapper_modeled.zip_to_zcta5
limit 20

    ZIPCODE STATE  ZCTA5
0       501    NY  11742
1       544    NY  11742
2       601    PR    601
3       602    PR    602
4       603    PR    603
5       604    PR    603
6       605    PR    603
7       606    PR    606
8       610    PR    610
9       611    PR    641
10      612    PR    612
11      613    PR    612
12      614    PR    612
13      616    PR    616
14      617    PR    617
15      622    PR    622
16      623    PR    623
17      624    PR    624
18      627    PR    627
19      631    PR    631

##### Check primary key

In [26]:
%%bigquery
select count(ZIPCODE)
from uds_mapper_modeled.zip_to_zcta5

     f0_
0  41098

In [27]:
%%bigquery
select count(distinct ZIPCODE)
from uds_mapper_modeled.zip_to_zcta5

     f0_
0  41098

In [28]:
%%bigquery
select count(ZCTA5)
from uds_mapper_modeled.zip_to_zcta5

     f0_
0  41098

In [1]:
%%bigquery
select count(distinct ZCTA5)
from uds_mapper_modeled.zip_to_zcta5

     f0_
0  33166

# Process Data with Beam

In [ ]:
% run zip_to_zcta5.py

/home/jupyter/.local/lib/python3.5/site-packages/apache_beam/io/gcp/bigquery.py:1421: BeamDeprecationWarning: options is deprecated since First stable release. References to <pipeline>.options will not be supported
  experiments = p.options.view_as(DebugOptions).experiments or []
INFO:apache_beam.runners.direct.direct_runner:Running pipeline with DirectRunner.
INFO:apache_beam.io.gcp.bigquery_tools:Using location 'US' from table <TableReference
 datasetId: 'uds_mapper_modeled'
 projectId: 'sashimi-266523'
 tableId: 'zip_to_zcta5'> referenced by query SELECT * FROM uds_mapper_modeled.zip_to_zcta5 limit 50
WARNING:apache_beam.io.gcp.bigquery_tools:Dataset sashimi-266523:temp_dataset_b6da5e4ec34f414dbc2f6628db5d675a does not exist so we will create it as temporary with location=US
INFO:apache_beam.io.gcp.bigquery_tools:Created table sashimi-266523.uds_mapper_modeled.ZIP_To_ZCTA5_Beam with schema <TableSchema
 fields: [<TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'ZIPCODE'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'STATE'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'ZCTA5'
 type: 'STRING'>]>. Result: <Table
 creationTime: 1587577938689
 etag: 'xPa1DqnIF5glzFPIDJh48w=='
 id: 'sashimi-266523:uds_mapper_modeled.ZIP_To_ZCTA5_Beam'
 kind: 'bigquery#table'
 lastModifiedTime: 1587577938730
 location: 'US'
 numBytes: 0
 numLongTermBytes: 0
 numRows: 0
 schema: <TableSchema
 fields: [<TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'ZIPCODE'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'STATE'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'ZCTA5'
 type: 'STRING'>]>
 selfLink: 'https://www.googleapis.com/bigquery/v2/projects/sashimi-266523/datasets/uds_mapper_modeled/tables/ZIP_To_ZCTA5_Beam'
 tableReference: <TableReference
 datasetId: 'uds_mapper_modeled'
 projectId: 'sashimi-266523'
 tableId: 'ZIP_To_ZCTA5_Beam'>
 type: 'TABLE'>.
WARNING:apache_beam.io.gcp.bigquery_tools:Sleeping for 150 seconds before the write as BigQuery inserts can be routed to deleted table for 2 mins after the delete and create.